body {
  background-color: #1c1d26;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1,
span,
p, label, input, button {
  font-family: "Audiowide", cursive;
}

.container-table {
  display: flex;
  justify-content: center;
}

#main-section {
  text-align: center;
  width: 96%;
}

.form-container, .btn, .form-container-input {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 16px;
  color:#fff;
  outline: none;
  width: 350px;
}

.form-container {
  height: 130px;
  padding: 15px 30px;
}

.form-container-input {
  background: transparent;
  border: 2px solid #fff;
  margin: 5px;
}
.form-container-input:focus {
  border-color: #9b413f;
}