body {
  background-color: #1c1d26;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1,
span,
p, label, input, button {
  font-family: "Audiowide", cursive;
  margin: 5px;
}

.container-table {
  display: inline;
  justify-content: center;
}

#main-section {
  text-align: center;
  width: 96%;
  height: 100vh;
}

.image {
  width: 250px;
  height: 250px;
  margin-top: 25px;
}

.form-container, .btn, .form-container-input {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 16px;
  color:#fff;
  outline: none;
}

.form-container {
  height: fit-content;
}

.form-container-input {
  background: transparent;
  border: 2px solid #fff;
  margin: 5px;
  padding: 12px 20px;
  box-sizing: border-box;
}
.form-container-input:focus {
  border-color: #9b413f;
}

#editTitle, #editValue {
  width: 220px;
}

.btn {
  width: auto;
}

.information-container {
  border-radius: 15px;
  background-color: #15161c;
  padding: 0.15em;
}

.budget-list {
  background-color: #1a1b23;
  border-radius: 15px;
  font-size: 16px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.budget-item {
  margin: 0;
  width: 250px;
}

.budget-item span {
  margin-right: 0;
}

.budget-action {
  display: flex;
}

.budget-action button {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  transition-duration: 1s;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
}

.error-info {
  border: 2px solid #f8312f;
  border-radius: 15px;
  font-size: 16px;
  padding: 1em;
  display: none;
  margin-bottom: 1em;
  color: #f8312f;
}

.visible {
  display: block;
}

@media screen and (min-width:376px) {
  .form-container-input {
    width: 68%;
  }
}

@media screen and (min-width: 425px) {
  #editTitle, #editValue {
    width: 300px;
  }

  .information-container {
    padding: 0.35em;
  }
}

@media screen and (min-width: 768px) {
  .image {
    width: 350px;
    height: 350px;
  }

  .container-table {
    display: flex;
  }

  .information-container {
    padding: 0.35em;
  }

  .budget-item {
    width: 75%;
  }

  .container-income, .container-spending {
    width: 50%;
  }

  .form-container-input {
    width: 300px;
  }

  #editTitle, #editValue {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .information-container {
    padding: 0.75em;
    width: 100%;
    box-sizing: border-box;
  }

  .form-container-input {
    width: 75%;
  }

  #editTitle, #editValue {
    width: 350px;
  }

  .btn {
    transition-duration: 1s;
    cursor: pointer;
  }
  
  .btn:hover {
    border-color:#f8312f;
    color:#f8312f;
    scale: 1.05;
  }

  .budget-action button {
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    transition-duration: 1s;
  }
  
  .budget-action button:hover {
    scale: 1.5;
  }
  
  .tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;
  
    opacity: 0;
    transition: opacity 1.5s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}